html {
    background-color: #f0efea;
    overflow-x: hidden;
    width: 100vw;
}

body {
    color: #333;
}

pre {
    background: transparent !important;
}

pre code {
    background: unset;
    color: initial;
}

#spotlight {
    font-size: unset;
}

#spotlight #front-cover {
    font-size: 1.5rem;
}

#home-title {
    line-height: initial;
    margin-bottom: 0.5em;
}

#home-center {
    margin-top: 15%;
    width: 100%;
}

#site-footer {
    margin-bottom: 1em;
}

@media (min-width: 1300px) {
    #toc {
        display: unset;
    }
}

#toc .toc-title {
    font-size: 1em;
}

#toc nav {
    font-size: 0.9em;
    opacity: unset;
}

.section-inner {
    width: 90%;
}

.site-main {
    margin-top: 2em;
}

.post-year, .post-day, .post-info {
    opacity: 0.8 !important;
}

.bg-img {
    opacity: 0.07;
}

.post-nav .prev-post {
    text-align: left;
}

.post-nav .next-post {
    text-align: right;
}

.home-link {
    font-size: 1em;
}

a {
    color: #eb4d4d;
}

a:hover {
    color: #8a1c1c;
}

#site-header {
    background-color: rgb(60, 60, 63);
}

#site-header a {
    color: #ccc;
}

#site-header a:hover {
    color: #fff;
}

.tag::before {
    content: unset !important;
}
