{{ define "main" }}
<main class="site-main section-inner thin">
	{{ partialCached "home-link.html" . }}
	<h1>{{ .Title }}</h1>
	{{- if .Content }}
	<div class="content">
		{{ .Content }}
	</div>
	{{- end }}
	<main class="site-main section-inner thin">
		{{- range .Data.Pages.GroupByDate "2006" }}
		<div class="posts-group">
			<div class="post-year" id="{{ .Key }}">{{ .Key }}</div>
			<ul class="posts-list">
				{{- range .Pages }}
				<li class="post-item">
					<a href="{{.Permalink}}">
						<span class="post-title">{{ .Title }}</span>
						<span class="post-day">{{ .Date.Format .Site.Params.dateformShort }}</span>
					</a>
				</li>
				{{- end }}
			</ul>
		</div>
		{{- end }}
	</main>
</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
