{{ define "head" }}
	{{ if .Site.Params.bgImg -}}
	<style>.bg-img {background-image: url('{{.Site.Params.bgImg}}');}</style>
	{{- else if .Site.Params.images -}}
		{{- range first 1 .Site.Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "main" }}
	{{- if (or .Site.Params.images .Site.Params.bgImg) }}
	<div class="bg-img"></div>
	{{- end }}
	<div id="spotlight">
		<div id="home-center"> 
			<div id="front-cover">
				<h1 id="home-title">{{ .Site.Title }}</h1>
				{{- with .Site.Params.homeSubtitle }}
				<p id="home-subtitle">{{.}}</p>
				{{- end }}
				{{- with .Site.Params.social }}
				<div id="home-social">
					{{ partialCached "social-icons.html" . }}
				</div>
				{{- end }}
			</div>
			<main class="site-main section-inner thin">
				{{- range .Site.RegularPages.GroupByDate "2006" }}
				<div class="posts-group">
					<div class="post-year" id="{{ .Key }}">{{ .Key }}</div>
					<ul class="posts-list">
						{{- range .Pages }}
						<li class="post-item">
							<a href="{{.Permalink}}">
								<span class="post-title">{{ .Title }}</span>
								<span class="post-day">{{ .Date.Format .Site.Params.dateformShort }}</span>
							</a>
						</li>
						{{- end }}
					</ul>
				</div>
				{{- end }}
			</main>
			<nav id="home-nav" class="site-nav">
				{{ partialCached "menu.html" . }}
			</nav>
		</div>
		{{ partialCached "footer.html" . }}
	</div>
{{ end }}
